@charset "UTF-8";
/* 
include chapters:
  - nesting
  - mixins
  - extends
  - operators
  - condicionals

*/
/* %clearfix::after {
  content: '';
  display: table;
  clear: both;
}

div {
  @extend %clearfix;
}

section {
  @extend %clearfix;
}

.erro {
  color: red;
  font-weight: bold;
}

.button-erro {
  @extend .erro;
  padding: 20px;
  width: 200px;
}

// operadores
$distance: 20px;

div {
  $width: 400px;
  width: $width - 2 * $distance;
  padding: $distance;
  height: $width / 2;
  // background: #333 + #777; só pra saber que existe soma de cores
}

p {
  font-size: 10px + 10;
  width: 400px - 40;
}
 */
/* // conditional
$theme: ocean;
$primary-color: black;  // se o theme estive com algo que não possui no if, sera colocado as cores definidas inicialmente nas variaveis
$secondary-color: gray;

@if $theme == ocean {
  $primary-color: blue;
  $secondary-color: orange;
} @else if $theme == desert {
  $primary-color: yellow;
  $secondary-color: purple;
}

p {
  color: $primary-color;
  background: $secondary-color;
} */
div {
  width: 33%;
}

p {
  font-family: monospace;
  font-weight: normal;
  font-size: 1em;
}

div {
  width: 100%;
}
@media (max-width: 600px) {
  div {
    width: 80%;
  }
}
@media (max-width: 300px) {
  div {
    width: 60%;
  }
}

div {
  width: 400px;
  height: 600px;
}

section {
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.modal {
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.5), 15px 15px 0 0 rgba(0, 0, 0, 0.5), 20px 20px 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.5), 15px 15px 0 0 rgba(0, 0, 0, 0.5), 20px 20px 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.5), 15px 15px 0 0 rgba(0, 0, 0, 0.5), 20px 20px 0 0 rgba(0, 0, 0, 0.5);
}
.modal h1 {
  color: blue;
  font-family: monospace;
  margin-bottom: 60px;
  font-size: 4em;
  font-weight: bold;
  font-family: monospace;
  line-height: 1;
}
.modal h1::after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  background: blue;
}
@media (max-width: 600px) {
  .modal h1 {
    color: green;
    font-size: 2em;
  }
}
.modal p {
  font-size: 1.2em;
  font-family: monospace;
  font-style: italic;
  line-height: 1.4;
  max-width: 400px;
}
@media (max-width: 600px) {
  .modal p {
    font-size: 0.8em;
  }
}
.modal a {
  display: block;
  max-width: 120px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  background: blue;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
}

ul {
  text-align: center;
}
ul li {
  display: inline-block;
  list-style: none;
  font-size: 2.25em;
}
ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  background: blue;
  color: white;
  font-size: 0.4444444444em;
}
ul li a:hover {
  background: rgba(0, 0, 255, 0.5);
}

/* 
Comentários

- Boa prática deixa no máximo 3 niveis de nesting, senão o codigo começa a ficar bagunçado.



*/

/*# sourceMappingURL=style.css.map */
