/* 
include chapters:
  - nesting
  - mixins
  - extends
  - operators
  - condicionals

*/

/* %clearfix::after {
  content: '';
  display: table;
  clear: both;
}

div {
  @extend %clearfix;
}

section {
  @extend %clearfix;
}

.erro {
  color: red;
  font-weight: bold;
}

.button-erro {
  @extend .erro;
  padding: 20px;
  width: 200px;
}

// operadores
$distance: 20px;

div {
  $width: 400px;
  width: $width - 2 * $distance;
  padding: $distance;
  height: $width / 2;
  // background: #333 + #777; só pra saber que existe soma de cores
}

p {
  font-size: 10px + 10;
  width: 400px - 40;
}
 */

/* // conditional
$theme: ocean;
$primary-color: black;  // se o theme estive com algo que não possui no if, sera colocado as cores definidas inicialmente nas variaveis
$secondary-color: gray;

@if $theme == ocean {
  $primary-color: blue;
  $secondary-color: orange;
} @else if $theme == desert {
  $primary-color: yellow;
  $secondary-color: purple;
}

p {
  color: $primary-color;
  background: $secondary-color;
} */

@function grid($column, $total: 12) {
  @return round(($column / $total) * 100%);
}

div {
  width: grid(4);
}

@function em($pixels, $context: 16) {
  @return ($pixels / $context) * 1em;
}

@mixin type-1($size) {
  font-family: monospace;
  font-weight: normal;

  @if $size == 16 {
    font-size: 1em;
  } @else if $size == 18 {
    font-size: 1.25em;
  } @else if $size == 25 {
    font-size: 1.5em;
  }
}

p {
  @include type-1(16);
}

@mixin d($device) {
	@if $device == m {
		@media (max-width: 300px) {
			@content;
		}
	}
	@else if $device == t {
		@media (max-width: 600px) {
			@content;
		}
	}
	@else if $device == s {
		@media (max-width: 900px) {
			@content;
		}
	}
}
	
div {
	width: 100%;
	@include d(t) {
		width: 80%;
	}
	@include d(m) {
		width: 60%;
	}
}

div {
	$width: 400px;
	width: $width;
	@if $width == 400px {
		height: $width * 1.5;
	} @else {
		height: $width;
	}
}

// mixin start
@mixin title-large {
  font: { // nesting properties
    size: 4em;
    weight: bold;
    family: monospace;
  }
  line-height: 1;
}

@mixin borde-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

// mixin com valor padrao, caso nao utilize os parametros
@mixin separador($color: blue, $largura: 100px) {
  &::after {
    content: '';
    display: block;
    width: $largura;
    height: 4px;
    background: $color;
  }
}

// mais de um argumento
@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

$cor-primaria: blue;
$font-primaria: monospace;
$gutter: 60px;


section {
	max-width: 600px;
  margin: 0 auto;	
  @include borde-box;
}

.modal {
  @include box-shadow(10px 10px 0 0 rgba(0,0,0,.5),
                      15px 15px 0 0 rgba(0,0,0,.5),
                      20px 20px 0 0 rgba(0,0,0,.5),
                    );

  h1 {
    color: $cor-primaria;
    font-family: $font-primaria;
    margin-bottom: $gutter;
    @include title-large;
    @include separador(blue, 200px);
    @include mobile {   // mixin Content
      color: green;
      font-size: 2em;
    }
  }

  p {
    font: { // nesting de propriedades.
      size: 1.2em;
      family: $font-primaria;
      style: italic;
    }
    line-height: 1.4;
    max-width: 400px;
    @include mobile {
      font-size: .8em;
    }
  }

  a {
    display: block;
    max-width: 120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: $cor-primaria;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-primaria;
  }
}

ul {
  text-align: center;

  li {
    display: inline-block;
    list-style: none;
    font-size: em(36);

    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      background: blue;
      color: white;
      font-size: em(16, 36); // pega o contexto do pai, e 1em será igual 36pixels
      // .active & {  // joga o active lá pra frente de toda  seleção
      //   background: blue;
      // }

      &:hover {
        // background: darken(blue, 20%);
        background: transparentize(blue, .5);
      }
    }
  }
}




/* 
Comentários

- Boa prática deixa no máximo 3 niveis de nesting, senão o codigo começa a ficar bagunçado.



*/