body {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 1200px;
  margin:  0 auto;
  background: blue;
  &::after, &::before { // clear fix
    content: "";
    display: table;
    clear: both;
  }
}

.grid-3 {
  width: 280px;
  background: rgba(0,0,0,.5);
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  float: left;
}